@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:'Rubik',sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
:root{
    --bg-color: #1f242d;
    --second-color: #323946;
    --text-color: #f8f9fa;
    --main-color: #AA336A;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background-color:var(--bg-color);
    color:var(--text-color);
}
section{
    min-height:100vh;
    padding: 10rem 9% 10rem;
}
.header{
    position:fixed;
    top:-4rem;
    left:0;
    width:100%;
    padding:2rem 9%;
    background-color:var(--bg-color);
    display: flex;
    justify-content:space-between;
    align-items:center;
    z-index:1000;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;

}
.navbar a{
    font-size: 1.3rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition:.4s;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display:none;
}


.home{
    display: flex;
    justify-content:center;
    align-items: center;
}
.home-content h3{
    font-size:3.2rem;
    font-weight:700;
}
span{
    color: var(--main-color);
}
.home-content h1{
    font-size:5.6rem;
    font-weight:700;
    line-height: 1.4;

}
.home-image img{
    width:35vw;
    filter:drop-shadow(0 4px 8px rgba(170, 51, 106, 0.9));
    z-index:1;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-2.4rem);
    }

    100%{
        transform:translateY(0);
    }

}

.home-content p{
    font-size:1.6rem;
    line-height: 2;
}

.home-content i{
    padding-right: 0.3rem;
}

.home-content a{
    font-size:1.4rem;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width:4rem;
    height:4rem;
    background:transparent;
    /*border:.2rem solid var(--main-color);*/
    border-radius: 50%;
    font-size:2.1rem;
    color: #fff;
    margin:3rem 1.5rem 3rem 0;
    transition:.5s ease;
}

.social-media a:hover{
    color: var(--main-color);
}
.btn{
    display: inline-block;
    padding:1rem 2.5rem;
    border: 1px solid var(--main-color);
    border-radius:4px;
    box-shadow: 0 0 1rem var(--main-color);
    font: size 1.6em;
    letter-spacing:.1rem;
    transition: .5s ease;
    margin: 3rem 1.5rem 3rem 0;
    cursor: pointer;
    background: var(--second-color);
    color: var(--main-color);
}
.btn:hover{
    background: var(--main-color);
    color: var(--second-color);
}

/*-------------About Section------------*/


.about{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:var(--second-color)
}
.about-img img{
    width:35vw;
    filter:drop-shadow(0 4px 8px rgba(170, 51, 106, 0.9));
    animation: glowLine 4s ease-in-out infinite;
}
@keyframes glowLine {
    0%{
        filter: drop-shadow(0 4px 8px rgba(170, 51, 106, 1.9));
    }
    50%{
        filter: drop-shadow(0 4px 8px rgba(170, 51, 106, 2.9));
    }
    100%{
        filter: drop-shadow(0 4px 8px rgba(170, 51, 106, 3.9));
    }
}
.heading{
    text-align: center;
    font-size:4.6rem;
}
.about-content h2{
    text-align: center;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 2rem;
    line-height: 2;
}

.about-content ul{
    display: grid;
    grid-template-columns: repeat(2,minmax(150px,10px));
    list-style-type: none;
    padding-top: 20px;
    font-size: 1.6rem;

}

.about-content li{
    line-height: 1.5;
}

.about-content i{
    color:var(--main-color);
}

/*-------------Experience Section------------*/

.experience h2{
    margin: 1rem 0 3rem 0;
}
.timeline{
    position: relative;
    max-width:1200px;
    margin: 10px auto;
}

.container{
    padding:10px 50px;
    position: relative;
    width: 50%;
}

.textbox{
    padding: 20px 30px;
    background:var(--second-color);
    position: relative;
    border-radius: 6px;
    font-size: 11px;
}
.left-container{
    left:0;
}
.right-container{
    left:50%;
}


.right-container li ,
.left-container li{
    list-style-type: none;
    font-size:1.46rem;
    padding-bottom: 1rem;
    line-height: 2;

}


.right-container i ,
.left-container i{
    color:var(--main-color);

}
.container img{
    position: absolute;
    width:40px;
    border-radius: 50%;
    right: -20px;
    top:32px;
    z-index: 10;
}
.container h2{
    margin-bottom:2px;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content:'';
    position:absolute;
    width:6px;
    height: 100%;
    background:var(--second-color);
    top: 0;
    left:50%;
    margin-left: -3px;
    z-index: -1;
}

.textbox h2{
    font-weight:600;
}
.textbox p{
    font-size:1.2rem;
    display: inline-block;
    margin:1rem 0 1rem 0;
}
.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-left:15px solid var(--second-color);
    right: -15px;

}
.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top:15px solid transparent;
    border-bottom:15px solid transparent;
    border-right:15px solid var(--second-color);
    left: -15px;

}

.project{
    display:flex;
    justify-content:space-between;
    background:var(--second-color);

}
.project-container{
    flex: 1;
    margin: 0.5rem;

}

.project-box{
    background: var(--bg-color);
    border: 2rem solid var(--bg-color);
    border-radius:2rem;
    width:100%;
    padding: 1.4rem; 
}
.project-box:hover{
    box-shadow: 0 0 1rem var(--main-color);
    transform: translateY(-10px);
    
}
.project a{
    justify-content: center;
    width:4rem;
    height:4rem;
    background:transparent;
    font-size:4rem;
    color: #fff;
    transition:.5s ease;
    filter:drop-shadow(0 4px 8px rgba(0, 0, 0, 0.4));
    transition:.5s ease;
}
@media screen and (max-width:600px){
    .timeline{
        margin:50px auto;
    }
    .timeline::after{
        left:31px;
    }
    .container{
        width:100%;
        padding-left:80px;
        padding-right:25px;
    }
    .textbox{
        font-size: 13px;
    }
    .textbox small{
        margin-bottom:10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-radius: 15px solid var(--second-color);
        border-left: 0;
        left: -15px;
    }
}


/*-------------Services Section------------*/


.services{
    background-color:var(--second-color);
}
.services h2{
    margin-bottom: 5rem;
}

.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-box{
    height:40vh;
    overflow: auto;
}

.services-container 
.services-box{
    flex: 1 1 30rem;
    background-color: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--second-color);
    transition: .5s ease;

}
.card-header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 0 2rem 1rem;
}

.services-box 
.external-links i{
    color: var(--main-color);
}

.services-box i{
    font-size: 3rem;
    color: var(--text-color);
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.services-box h3{
    font-size: 2rem;
}

.services-box p{
    font-size: 1.3rem;
    margin: 1rem 0.3rem;
    line-height: 2;
}

.services-box a{
    color: var(--text-color);
}

.services-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
}



.footer{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 9%;
    justify-content: center;
    background-color: var(--bg-color);
}
.footer-text p{
    font-size: 1.6rem;

}



@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
    
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 3% ;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    
}

@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size:2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }

    .home-image img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about img {
        width: 60vw;
        margin-top: 4rem;
    }

    .portfolio h2{
        margin-bottom: 3rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);

    }
}
@media (max-width: 617px) {
    .portfolio-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
}
@media (max-width: 365px) {
    .home-image img{
        width:90vh;
    }
    .about-img img{
        width:90vh;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
    section.services p {
        font-size: 1.6rem;
    }
}

